# JWT settings:
JWT_SECRET="your_jwt_secret"
JWT_EXPIRES=15
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
JWT_REFRESH_EXPIRES=10080

# Server settings:
SERVER_READ_TIMEOUT=60

#DB Configuration
DB_DRIVER=mysql
DB_ADDRESS=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=